
h1 {
	font-size: 10vw;
	margin: 0;
	color: white;
	background-color: red;
	background-image: linear-gradient(to right, red, red, orange, orange, #ffe033, #ffe033, #00b300, #00b300, blue, blue, purple, purple);
}
table {
	float: left;
	table-layout: fixed;
	width: 16.6%;
}
th {
	font-size: 2.5vw;
	color: white;
}
td {
	font-size: 1.5vw;
	font-weight: bold;
}
.day {
	color: gray;
	font-weight: normal;
}
td.jan {
	color: #ff0000;
}
th.jan {
	background-color: #ff0000;
}
td.feb {
	color: #ffa500;
}
th.feb {
	background-color: #ffa500;
}
td.mar {
	color: #ffd700;
}
th.mar {
	background-color: #ffd700;
}
td.apr {
	color: #008000;
}
th.apr {
	background-color: #008000;
}
td.may {
	color: #0000ff;
}
th.may {
	background-color: #0000ff;
}
td.jun {
	color: #800080;
}
th.jun {
	background-color: #800080;
}
td.jul {
	color: #ff0000;
}
th.jul {
	background-color: #ff0000;
}
td.aug {
	color: #ffa500;
}
th.aug {
	background-color: #ffa500;
}
td.sep {
	color: #ffd700;
}
th.sep {
	background-color: #ffd700;
}
td.oct {
	color: #008000;
}
th.oct {
	background-color: #008000;
}
td.nov {
	color: #0000ff;
}
th.nov {
	background-color: #0000ff;
}
td.dec {
	color: #800080;
}
th.dec {
	background-color: #800080;
}
