h1 {
	background-color: #000;
	background-image: linear-gradient(to right, #ff0000, #ff0000, #ffa500, #ffa500, #ffd700, #ffd700, #00b300, #00b300, #0000ff, #0000ff, #800080, #800080);
}
table {
	width: 16.666666666666668%;
}
th {
	font-size: 2.5vw;
}
td {
	font-size: 1.5vw;
}
.jan td {
	color: #ff0000;
}

.jan td.faded {
	color: #ff000050;
}
.jan th {
	background-color: #ff0000;
}
.feb td {
	color: #ffa500;
}

.feb td.faded {
	color: #ffa50050;
}
.feb th {
	background-color: #ffa500;
}
.mar td {
	color: #ffd700;
}

.mar td.faded {
	color: #ffd70050;
}
.mar th {
	background-color: #ffd700;
}
.apr td {
	color: #00b300;
}

.apr td.faded {
	color: #00b30050;
}
.apr th {
	background-color: #00b300;
}
.may td {
	color: #0000ff;
}

.may td.faded {
	color: #0000ff50;
}
.may th {
	background-color: #0000ff;
}
.jun td {
	color: #800080;
}

.jun td.faded {
	color: #80008050;
}
.jun th {
	background-color: #800080;
}
.jul td {
	color: #ff0000;
}

.jul td.faded {
	color: #ff000050;
}
.jul th {
	background-color: #ff0000;
}
.aug td {
	color: #ffa500;
}

.aug td.faded {
	color: #ffa50050;
}
.aug th {
	background-color: #ffa500;
}
.sep td {
	color: #ffd700;
}

.sep td.faded {
	color: #ffd70050;
}
.sep th {
	background-color: #ffd700;
}
.oct td {
	color: #00b300;
}

.oct td.faded {
	color: #00b30050;
}
.oct th {
	background-color: #00b300;
}
.nov td {
	color: #0000ff;
}

.nov td.faded {
	color: #0000ff50;
}
.nov th {
	background-color: #0000ff;
}
.dec td {
	color: #800080;
}

.dec td.faded {
	color: #80008050;
}
.dec th {
	background-color: #800080;
}
